AI_API_KEY=sk-***
AI_MODEL=
GITHUB_TOKEN=ghp_***
GITHUB_REPO=https://github.com/PickupStudy/on-your-own.git
GITHUB_BRANCH=main
OBSIDIAN_VAULT_PATH="D:\\Users\\User\\My Document\\on-your-own"
TIMEZONE=Asia/Shanghai

MYSQL_ENABLED=true
MYSQL_HOST=8.163.19.64
MYSQL_PORT=3306
MYSQL_USER=pjf
MYSQL_PASSWORD=***
MYSQL_DATABASE=pkb

REDIS_ENABLED=false
